.hover-light{
    transition: 0.3s;
    margin-top: 70px;
    background-color:white;
    height:200px;
    width: 200px;
    margin-left: 0.5;
}
.col{
    text-align:center;
}
.hover-light:hover{
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h5{
    padding-top:30px;
}